* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.styleone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #009c61;
    color: #0e1d7d;
    z-index: 1;
    transition: .7s ease;
}

/*
Rubber font-size ! ! ! body {
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
*/

h1 {
    /* font-size: 36px; */
    font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1600 - 300)));
    position: relative;
    z-index: 10;
}

.paragraph {
    /* font-size: 26px; */
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

#headline,
#manualForUser {
    transition: 15s ease;
}

#protectiveFilm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#invisible {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


@media only screen and (max-width: 1020px) {
    #manualForUser {
        display: none;
    }
}