* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.styleone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #009c61;
    color: #0e1d7d;
    z-index: 1;
}

h1 {
    font-size: 36px;
    position: relative;
    z-index: 10;
}

.paragraph {
    font-size: 26px;
    margin-top: 50px;
    transition: 0.3s ease;
    position: relative;
    z-index: 10;
}

#headline,
#manualForUser {
    /* transition: opacity 3s cubic-bezier(0, 0.46, 0.57, 1); */
    transition: 15s ease;
}

#protectiveFilm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#invisible {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
